/* CSS reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */



*{
    font-family: 'Open Sans', sans-serif;
}
.flex{
    display: flex;
}

.paddingleft15{
    padding-left: 15px;
}

.paddingright15{
    padding-right: 15px;
}

.aligncenter{
    display: flex;
    align-items: center;
}
.justifyend{
    display: flex;
    justify-content: flex-end;
}

.marginbottom50{
    margin-bottom: 50px;
}

/* containers */

.maincontainer{
    height: 3000px;
    width: 900px;
    margin: 0 auto;
    background-color: blue;
}

.jumbo-footer-container{
    height: 500px;
    width: 1100px;
    margin: 0 auto;
    background-color: red;
}

/* buttons */

button{
    padding: 8px 14px;
    background-color: rgb(0,97,255);
    border: none;
    color: white;
    cursor: pointer;
}


/* header */

header{
    height: 80px;
    justify-content: space-between;
}

.header-container{
    flex-basis: 50%;
    gap: 30px;
}


.header-container > img{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.header-container a{
    text-decoration: none;
    color: black;
}


/* main */


/* jumbotron */


.bgjumbotron{
    height: 800px;
    background-color: rgb(180,208,231);
    margin-bottom: 10%;
}

.jumbotitle{
    width: 1100px;
    height: 300px;
    margin: 0 auto;
    background-color: green;
}

.jumbo-prova{
    flex-basis: 40%;
    background-color: aqua;
}
.jumbo-img{
    flex-basis: 60%;
    background-color: blueviolet;
}

 .jumbotitle > h1{
   font-size: 50px;
   
}

/* core elements */

.column-container{
    width: 900px;
    height: 1000px;
    gap: 40px;
}


.column{
    flex-basis: calc(100% / 3);
    background-color: yellow;
}