/* CSS reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

*{
    font-family: 'Open Sans', sans-serif;
}
.flex{
    display: flex;
}

.paddingtop25{
    padding-top: 25px;
}
.paddingleft15{
    padding-left: 15px;
}

.paddingright15{
    padding-right: 15px;
}

.aligncenter{
    display: flex;
    align-items: center;
}
.justifyend{
    display: flex;
    justify-content: flex-end;
}

/* utility size-img */

.height10{
    height: 10%;
}
.height20{
    height: 20%;
}
.height30{
    height: 30%;
}
.height40{
    height: 40%;
}
.height550{
    height: 550px;
}



/* utility margin */

.marginright10{
    margin-right: 10px;
}
 .marginbottom15{
    margin-bottom: 15px;
 }   

.marginbottom25{
    margin-bottom: 25px;
}
.marginbottom50{
    margin-bottom: 50px;
}
.marginbottom100{
    margin-bottom: 100px;
}
.marginbottom150{
    margin-bottom: 150px;
}
.margintop225{
    margin-top: 225px;
}


.fillwhite{
    fill:white;
}


.fa-check{
    color: rgb(0,97,255);
    float: left;
}

/* colors */

.bgcolorgrey{
    background-color: rgb(180,208,231);
}
.bgcolorblack{
    background-color: black;
}

.colorgrey{
    color: grey;
}
.bglightgreen{
    background-color:rgb(162,211,155) ;
}
.bggranata{
    background-color: rgb(97,8,43);
}

.bgcolorblue{
    background-color: rgb(0,147,206);
}

.bglightred{
    background-color: rgb(255,28,28);
}
.bgred{
    background-color: rgb(213,0,31);
}
.bgazure{
    background-color:rgb(180,208,231)
}
.bgheavyblue{
    background-color: rgb(13,36,129);
}
.bgyellow{
    background-color: rgb(255,216,48);
}
/* containers */

.maincontainer{
    min-height: 3000px;
    width: 1050px;
    margin: 0 auto;
}

.jumbo-footer-container{
    height: 500px;
    width: 1050px;
    margin: 0 auto;
    
}


/* buttons */

button{
    padding: 8px 14px;
    background-color: rgb(0,97,255);
    border: none;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0, 98, 255, 0.514);
}

/* header */

header{
    height: 80px;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header-container{
    flex-basis: 50%;
    gap: 20px;
}


.header-container > img{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.header-container a{
    text-decoration: none;
    color: black;
    padding:30px;
    border-bottom: 3px solid transparent;
}

.header-container a:hover{
    border-bottom: 3px solid black;
}

/* main */


/* jumbotron */


.bgjumbotron{
    height: 700px;
    background-color: rgb(180,208,231);
    margin-bottom: 10%;
    margin-top: 80px;
}

.jumbotitle{
    width: 1100px;
    height: 300px;
    margin: 0 auto;
}

.jumbo-prova{
    flex-basis: 30%;
    
}

.fa-arrow-down{
    font-size: 50px;
    cursor: pointer;
}

.jumbo-img{
    flex-basis: 70%;
    position: relative;

}
.jumbopic{
    height: 100%;
    width: auto;
    position: absolute;
}


 .jumbotitle > h1{
   font-size: 80px;
   padding-top: 30px;
   
}

.jumbo-prova > p > a{
    color: black;
}

/* core elements */


/* subscription columns */

.column-container{
    width: 100%;
    height: 1000px;
    gap: 40px;
    margin-top: 50px;
}


.column{
    flex-basis: calc(100% / 3);
    border: 1px solid grey;
    padding-right: 10px;
}

.circle-bordered{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 5px solid rgb(0,97,255);
    display: inline-block;
    vertical-align: middle;
    
}
.monthly{
    display: inline;
    vertical-align: middle;
    margin-right: 40px;
}

.circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgb(193, 197, 202);
    display:inline-block;
    vertical-align: middle;
}

.yearly{
    display: inline;
    vertical-align: middle;
    margin-right: 40px;
}

.column > div{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid grey;

}

.infosub > div > p > a{
    color: blue;
}

.header-column{
    text-align: center;
    padding: 13px;
    
}

.infosub{
    position: relative;
    
}

.infosub > *{
    padding-left: 15px;
}

p>i{
    font-size: 100%;
}
.infosub>p{
    display: flex;
}

.infosub button{
    width: 290px;
    height: 44px;
} 

.checktext{
    margin-left: 20px;
}

.provabutton-container-singolo{
    margin-top: 75px;
}
.provabutton-container-Team{
    margin-top: 52px;
}
/* ufficio vendite / team  */

.header-team{
    height: 40px;
    width: 100%;
    text-align: center;
    border: 1px solid grey;
    border-bottom: none;
    line-height: 40px;
    vertical-align: middle;
}
.container-vendite{
    width: 1050px;
    height: 300px;
    border: 1px solid grey;
}

.cont-info{
    flex-basis: 70%;
    
}

.cont-button{
    flex-basis: 30%;
}


.cont-button button{
    width: 80%;
    margin-left: 27px;
    height: 45px;
}


/* trova un partner */


.container-partner{
    width: 100%;
    height: 500px;
}

.partner-img{
    flex-basis: 60%;
}

.partner-info{
    flex-basis: 40%;
    padding-top: 50px;
}

.partner-img img{
    height: 100%;
}

.partner-info > button{
    display:block;
    background-color: white;
    color: black;
    height: 15%;
    width: 40%;
    font-size: 15px;
    border: 1px solid black;
}

/* dropbox multitasking */


.multi-container{
    width: 100%;
    
} 
.multi-row{
    height: 600px;
    width: 100%;
}

.row-pic{
    flex-basis: calc(100% / 3);
    flex-direction: column;
    
}

.row-pic > div{
    flex-basis: calc(100% / 2);
    gap: 20px;

}


.row-pic > div > img{
    height: 300px;
    width: auto;
    padding: 15px;
}
.row-pic > div > h1{
    padding-left: 15px;
    margin-bottom: 50px;
}

.row-pic > div > p{
    padding-left: 15px;
}



/* link intermezzo social proof */

.container-intermezzo{
    width: 500px;
    margin-left: 426px;
}
.container-intermezzo > h1{
    font-size: 34px;
}

.container-intermezzo a{
    color: blue;
}


/* jumbotron immagini a scacchiera */

.ps-container{
    height: 500px;
    
}

.bundlestart{
    flex-basis: calc(100% / 2);
    
    flex-direction: column;

}

.description{
    flex-basis: calc(100% / 2);
    background-color: rgb(245,245,245);
    padding:45px 30px;
}

.bundleend{
    flex-basis: calc(100% / 2);
    background-color: rgb(226, 43, 43);
    flex-direction: column;
}

.bundlestart-row{
    height: 250px;
    width: 100%
    
}

.bundlestart-row > div{
    width: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid transparent;
}
 .bundlestart-row > div > img{
    filter: invert(100%);
}

.bundleend-row > div > img{
    filter: invert(100%);
}

.bundleend-row{
    height: 250px;
    width: 100%
}


.bundleend-row > div{
    width: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid transparent;
}

.bundleend-row > div:hover{
    border: 10px solid rgba(255, 255, 255, 0.7);
}

.bundlestart-row > div:hover{
    border: 10px solid rgba(255, 255, 255, 0.7);
}

/* prova gratuita */

.bgprova{
    height: 400px;
}
.containerprova{
    height: 400px;
    width: 1050px;
    margin: 0 auto;
}
.cont-titlefreetrial{
    flex-basis: 53%;
    align-items: center;
    justify-content: flex-start;
}

.cont-titlefreetrial  h1{
    font-size: 40px;
    color:rgb(97,8,43);
  
}
.cont-buttonfreetrial{
    flex-basis: 47%;
    align-items: center;
    justify-content: flex-end;
}

.cont-buttonfreetrial > button{
    display:block;
    background-color: white;
    color: black;
    height: 12%;
    width: 65%;
    font-size: 15px;
    
}

/* domande frequenti */

.containerFAQ{
    height: 300px;
    width: 1050px;
    margin: auto;
    margin-bottom: 300px;
}

.containerFAQ > div{
    height: calc(100% / 3);
    width: 100%;
    border: 1px solid black;
}

.containerFAQ h1{
    font-size: 40px;
}

.containerFAQ div{
    align-items: center;
    justify-content: space-between;
    border-left: none;
    border-right: none;
    padding-top: 39px;
}

.containerFAQ span{
    font-weight: 700;
    margin-right: 315px;
}

.containerFAQ p{
    cursor: pointer;
}

.containerFAQ >.noborder{
    border:none
}

.question{
    display: inline;
}

.lorem{
    margin-top: 20px;
}

/* hover title */

.lorem{
    display: none;
}

.content:hover .lorem{
    display: block;

}


/* hover arrows */

.fa-chevron-up{
    display: none;
}

.containerFAQ > div:hover .fa-chevron-up{
    display: inline;
}
.containerFAQ > div:hover .fa-chevron-down{
    display: none;
}
.containerFAQ > div:hover{
    height: 200px;
}




/* footer */

footer > *{
    color: white;
}

ul{
    list-style-type: none;
   
}
.footercontainer{
    height: 400px;
    padding-top: 100px;
}

.footercolumn{
    flex-basis: 25%;
}

li{
    margin-bottom: 10px;
    cursor: pointer;
}

.pedice-container{
    max-height: 500px;
    width: 1050px;
    margin: 0 auto;
}

.pedice-container>*{
    color: rgb(153,153,153);
}

.fa-earth-americas{
    margin-top: 44px;
    margin-right: 5px;

}

footer h2{
    cursor: pointer;
}


